@font-face {
  font-family: "Montserrat";
  src: url(../accets/fonts/Montserrat-Regular.woff2) format("woff2"),
    url(../accets/fonts/Montserrat-Regular.woff) format("woff");
  font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url(../accets/fonts/Montserrat-Bold.woff2) format("woff2"),
    url(../accets/fonts/Montserrat-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url(../accets/fonts/OpenSans-Regular.woff2) format("woff2"),
    url(../accets/fonts/OpenSans-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url(../accets/fonts/OpenSans-Italic.woff2) format("woff2"),
    url(../accets/fonts/OpenSans-Italic.woff) format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url(../accets/fonts/SourceSansPro-Regular.woff2) format("woff2"),
    url(../accets/fonts/SourceSansPro-Regular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

