:root {
  --main-font-family: "Open Sans", sans-serif;
  --second-font-family: "Montserrat", sans-serif;
  --font-size: 18px;

  --bg-color: #fff;
  --color-light: #fff;
  --main-color: #2c4058;
  --color-dark: #000;
  --color-accent: #7e5aff;
  --color-accent-2: #55b7ff;
  

  --container-width: 1200px;

}
